In [9]:
pip install pandas

Collecting pandas
  Using cached pandas-2.0.1-cp311-cp311-win_amd64.whl (10.6 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\ccis-web\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: tzdata>=2022.1 in e:\ccis-web\venv\lib\site-packages (from pandas) (2023.3)
Collecting numpy>=1.21.0
  Downloading numpy-1.24.3-cp311-cp311-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 1.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in e:\ccis-web\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.3-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
import pandas as pd
import pymysql

In [11]:
def conMysql():
    con = pymysql.connect(
        host = '10.6.32.24',
        database = 'database_ccis',
        user = 'admin',
        password = 'S1coob4155@@',
        autocommit = True,
    )
    cursor = con.cursor()
    return cursor

In [24]:
dfFuncionario = pd.read_excel('E:\\CCIS-Web\\Funcionários.xlsx')

In [25]:
print(dfFuncionario)

      Nº                                  Nome       SEXO Situação
0      1      ADRIANA GUIMARÃES DE SOUZA NEVES   Feminino    Ativo  \
1      2                       ADRIANA PICCOLI   Feminino    Ativo
2      3  ADRIELLE ELISANDRA BORGES DOS SANTOS   Feminino  Inativo
3      4                 ADRIELLE SANTOS LIMA    Feminino  Inativo
4      5               ADRIANO VIEIRA DE SOUSA  Masculino    Ativo
..   ...                                   ...        ...      ...
249  250                STELA DE SOUZA VIEIRA    Feminino    Ativo
250  251           WASHINGTON PIRES DE ARAÚJO   Masculino    Ativo
251  252              WILLIAN MENDES DA SILVA   masculino    Ativo
252  247               WILTON VIEIRA SZERVINSK  Masculino    Ativo
253  248         ZILMARCIO ALVES BRANDÃO FILHO  Masculino    Ativo

               Empregador          Colaborador Mãe/Pai          CPF
0    Sicoob Credibrasília       Funcionário(a)     Sim   4930693136  \
1    Sicoob Credibrasília  Diretoria Executiva     Sim  36887757168
2    Sicoob Credibrasília       Funcionário(a)     NaN  38851232822
3    Sicoob Credibrasília       Funcionário(a)     Não   4358344100
4    Sicoob Credibrasília       Funcionário(a)     Não   5290947116
..                    ...                  ...     ...          ...
249             BS Soares      Terceirizado(a)     NaN  52471721168
250          Life Defense      Terceirizado(a)     NaN  41759966134
251          Life Defense      Terceirizado(a)     NaN    453655122
252  Sicoob Credibrasília       Funcionário(a)     Não   6813805193
253  Sicoob Credibrasília       Funcionário(a)     Não   5048071107

            RG Órgão Expedidor  ... Comprovante Residência
0      3135259              DF  ...             2021-08-04  \
1       942405          SES/DF  ...             2019-01-07
2     23122462          SSP/MG  ...             2021-02-03
3      3011173              DF  ...             2021-11-16
4      6347593              DF  ...             2021-10-02
..         ...             ...  ...                    ...
249  1295634\n         SSP DF   ...                    NaT
250        NaN             NaN  ...                    NaT
251        NaN             NaN  ...                    NaT
252    6561188              DF  ...             2021-03-08
253    5171594              GO  ...             2022-05-19

    Vencimento Comprovante Residência Atestado Admissional ou Periódico
0                          2022-08-04               2021-08-11 00:00:00  \
1                          2020-01-07               2018-09-19 00:00:00
2                          2022-02-03               2021-10-13 00:00:00
3                          2022-11-16               2021-12-16 00:00:00
4                          2022-10-02               2022-12-22 00:00:00
..                                ...                               ...
249                               NaT                               NaN
250                               NaT                               NaN
251                               NaT                               NaN
252                        2022-03-08               2022-03-10 00:00:00
253                        2023-05-19               2022-03-25 00:00:00

    Vencimento do Atestado     Tipo de Atestado Contrato - Início
0               2023-08-11  RETORNO AO TRABALHO               NaN  \
1               2019-09-19            PERIÓDICO               NaN
2               2022-10-13          ADMISSIONAL               NaN
3               2023-12-16          ADMISSIONAL               NaN
4               2024-12-21            PERIÓDICO               NaN
..                     ...                  ...               ...
249                    NaT                  NaN               NaN
250                    NaT                  NaN               NaN
251                    NaT                  NaN               NaN
252             2024-03-09            PERIÓDICO               NaN
253             2024-03-24          ADMISSIONAL               NaN

    Contrato - Enceramento Fotos is_superuser senha
0                      NaN   NaN            0  4155
1                      NaN   NaN            0  4155
2                      NaN   NaN            0  4155
3                      NaN   NaN            0  4155
4                      NaN   NaN            0  4155
..                     ...   ...          ...   ...
249                    NaN   NaN            0  4155
250                    NaN   NaN            0  4155
251                    NaN   NaN            0  4155
252                    NaN   NaN            0  4155
253                    NaN   NaN            0  4155

[254 rows x 60 columns]

In [27]:
for i, dados in enumerate(dfFuncionario['Nome']):
    nome = dfFuncionario.loc[i,'Nome']
    cpf = dfFuncionario.loc[i,'CPF']
    rg = dfFuncionario.loc[i,'RG']
    expedidor = dfFuncionario.loc[i,'Órgão Expedidor']
    sexo = dfFuncionario.loc[i,'SEXO']
    dataNascimento= dfFuncionario.loc[i,'Data de Nascimento']
    estadoCivil = dfFuncionario.loc[i,'Estado Civil']
    ctps = dfFuncionario.loc[i,'CTPS']
    dataCtps = dfFuncionario.loc[i,'Data de Emissão da CTPS']
    serieCtps = dfFuncionario.loc[i,'Série']
    pis = dfFuncionario.loc[i,'PIS']

    try:    
    
        conexao = conMysql()
        conexao.execute(f"""INSERT INTO database_ccis.ccis_dadospessoais(
        nomeCompleto,cpf,rg,expedidor,sexo,dataNascimento,estadoCivil,ctps,dataCTPS,serieCTPS,pis)
        value('{nome}','{cpf}','{rg}','{expedidor}','{sexo}','{dataNascimento}','{estadoCivil}',
        '{ctps}','{dataCtps}','{serieCtps}','{pis}')""")

    except pymysql.Error as erro:
        print(erro)

In [29]:
for i, dados in enumerate(dfFuncionario['Nome']):
    endereco = dfFuncionario.loc[i,'ENDEREÇO']
    bairro = dfFuncionario.loc[i,'Bairro']
    cidade = dfFuncionario.loc[i,'CIDADE']
    estado = dfFuncionario.loc[i,'ESTADO']
    cep = dfFuncionario.loc[i,'CEP']
    emailCorporativo= dfFuncionario.loc[i,'E-mail Corporativo']
    telefoneCorporativo = dfFuncionario.loc[i,'Telefone Corporativo']
    celularCorporativo = dfFuncionario.loc[i,'Celular Corporativo']
    celularPessoal = dfFuncionario.loc[i,'Telefone Pessoal']


    

    try:    
    
        conexao = conMysql()
        conexao.execute(f"""INSERT INTO database_ccis.ccis_enderecocontato(
        endereco,bairro,cidade,estado,cep,emailCorporativo,telefoneCorporativo,celularCorporativo,celularPessoal)
        value("{endereco}","{bairro}","{cidade}","{estado}","{cep}","{emailCorporativo}","{telefoneCorporativo}",
        "{celularCorporativo}","{celularPessoal}")""")

    except pymysql.Error as erro:
        print(erro)

In [29]:
for i, dados in enumerate(dfFuncionario['Nome']):
    cargo = dfFuncionario.loc[i,'Cargo']
    paUnidade = dfFuncionario.loc[i,'PA / Unidade']
    colaborador = dfFuncionario.loc[i,'Colaborador']
    empregador = dfFuncionario.loc[i,'Empregador']
    superiorImediato = dfFuncionario.loc[i,'Superior Imediato ']
    admissao = dfFuncionario.loc[i,'Admissão']
    desligamento = dfFuncionario.loc[i,'Data de desligamento']
    situacao = dfFuncionario.loc[i,'Situação']
    horarioEntrada = dfFuncionario.loc[i,'Horário Entrada']
    horarioSaida = dfFuncionario.loc[i,'Horário Saída']
    

    #print(nome,cpf,rg,expedidor,sexo,dataNascimento,idade,estadoCivil,ctps,dataCtps,serieCtps,pis)

    try:    
    
        conexao = conMysql()
        conexao.execute(f"""INSERT INTO database_ccis.ccis_profissional(
        cargo,paUnidade,colaborador,empregador,superiorImediato,admissao,desligamento,situacao,horarioEntrada,horarioSaida)
        value('{cargo}','{paUnidade}','{colaborador}','{empregador}','{superiorImediato}','{admissao}','{desligamento}',
        '{situacao}','{horarioEntrada}','{horarioSaida}')""")

    except pymysql.Error as erro:
        print(erro)

In [31]:
for i, dados in enumerate(dfFuncionario['Nome']):
    camiseta = dfFuncionario.loc[i,'Tamanho Camiseta']
    
    

    try:    
    
        conexao = conMysql()
        conexao.execute(f"""INSERT INTO database_rh.ccis_outros(camiseta)
        value('{camiseta}')""")

    except pymysql.Error as erro:
        print(erro)